p {
    margin-top: 10px;
    text-align: center;
}
.shop-button{
    text-align: center;
}
.shop-title {
    margin: 1px 0;
    color:white;
    background-image: url('../../assets/img/cafegranos1.jpg');
    font-weight: bold;
}

 

  